#main-header{

	background: $black;
	padding: 1em 0em;
	text-transform: uppercase;



	#header-logo-container{
		a{
			display: block;

			h1{

					line-height: 1;
					margin: 0px;
					padding: 0px;
					font-size: inherit;

					span{
						text-indent: -9999px;
						position: absolute;
					}

			}
		}
	}


}