@mixin shadows{
	-moz-box-shadow:    0px 2px 2px 1px rgba(0, 0, 0, 0.20);
	-webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.20);
	box-shadow:         0px 2px 2px 1px rgba(0, 0, 0, 0.20);
}

@mixin shadows-small{
	-moz-box-shadow:    0px 1px 1px 1px rgba(0, 0, 0, 0.20);
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.20);
	box-shadow:         0px 1px 1px 1px rgba(0, 0, 0, 0.20);
}

@mixin shadows-inset{
	-moz-box-shadow:    inset 0px 2px 2px 1px rgba(0, 0, 0, 0.20);
	-webkit-box-shadow: inset 0px 2px 2px 1px rgba(0, 0, 0, 0.20);
	box-shadow:         inset 0px 2px 2px 1px rgba(0, 0, 0, 0.20);
}

@mixin transitions{
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-o-transition: all 0.25s;
	-ms-transition: all 0.25s;
	transition: all 0.25s;
}

@mixin last($num) {
   &:nth-last-child(-n + #{$num}) {
    @content;
  }
}