/**
 * Basic Variables
 */

// Fonts.
$fonts_fancy: 'Oswald', Georgia, serif;
$fonts_regular: 'Roboto', Helvetica, Arial, sans-serif;

// Colors.
$black: 			#333;
$grey_light:	#eee;
$grey_medium:	#666;
