/**
 * Basic Variables
 */

// Fonts.
$fonts_fancy: 'Oswald', Georgia, serif;
$fonts_regular: 'Roboto', Helvetica, Arial, sans-serif;

// Colors.
$white:			#f6f6f6;
$black: 			#333;
$grey:			#666;
$grey_light:	#aaa;
$grey_lighter:	#eee;
$blue:			#1b5083;
$blue_light:	#56aee3;
$green:			#a1c627;
