/* ESTILOS DE WORDPRESS */
.pos-fixed{
	position: fixed !important;
	top: 1em
}
.gallery{

}

// Login page styles.
.login{
	#login{
		h1{
			a{
				background-image: url('../img/logo_header.png');
				background-size: 259px 150px;
				height: 150px;
				width: 259px;
			}
		}
	}
	#nav, #backtoblog{
		a{ }
	}
}

#tinymce{
	margin: 1rem;
	p{
		font-size: 1rem;
	}
}