/******* Single product ***************/
.single-product{	

	.woocommerce>div.product{
		padding: 0px;
		background: transparent;
		box-shadow: none;
		justify-content: start;

		&:hover{ box-shadow: none }
	}

	.woocommerce div.product div.images {
		margin-bottom: 0em;
	}

	.woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
		border: 1px solid $gris-claro;
	}

	.woocommerce-product-details__short-description{
		font-size: 0.9em;
		margin-bottom: 1rem;
	}

	.input-group-button{
		float: left;
	}

	.product_meta{ font-size: 0.8em }

	.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
		float: none;
		width: auto;
	}

	.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
		float: none;
		width: auto;
		clear: none;
	}

	.woocommerce div.product div.summary {
		margin-bottom: 0em;
	}

	.woocommerce .quantity .qty {
		font-size: 0.8em;
		width: 70px;
	}

	#producto-informacion{
		margin-bottom: 3rem;
		grid-gap:1rem;
		display: grid;

		.product_title{
			font-size: 1.5em;
			line-height: 1.2em;
			margin-bottom: 1rem;
		}
	
		.price{
			text-align: left;
			color: $azul;
			font-size: 1.5em;
			margin: 0px;
		}

	}	

	.summary{
		grid-area: contenido;
	}	

	/*
	* Media Queries.
	*
	*/

	@media only screen and (min-width:320px) {
		
		#producto-informacion{
			grid-template-areas: "fotos" "contenido";
			grid-template-columns: 1fr;
			grid-template-rows: auto auto;
		}
		
	}

	@media only screen and (min-width:480px) {

	}

	@media only screen and (min-width:768px) {
		
		#producto-informacion{
			grid-template-areas: "fotos contenido";
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
		}

	}

	@media only screen and (min-width:1024px) {



	}

	@media only screen and (min-width:1140px) {

		

	}

	@media only screen and (min-width:1280px) {

	}
	

}
