/* Producto en archivo de la lista de productos */

.woocommerce{
	
	div.product{
		@extend .card;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.woocommerce-LoopProduct-link{
			text-align: center
		}
	
		.woocommerce-loop-product__title{
			margin-bottom: 0.5rem;
			font-size: 1em;
		}
	
		span.price{
			display: block;
			margin-bottom: 0.5rem;
			color: $azul-claro;
		}

		.botones{ 
			text-align: center;

			.button{
				padding: 1rem;
				@extend .boton-gris;
	
				&.added{
					background: $whatsapp-verde !important;
					color: white;
				}
			}
		
			.button+.button{ margin-left: 0.5rem }
		
			.added_to_cart{
				margin-left: 0.5rem;
				font-size: 0.8em;
			}

		}	
		
	
	}	

}