/* Carrito de compras */

.woocommerce table.shop_table {
	border: none;
	border-radius: 0px;
	border-collapse: collapse;

	thead{
		background-color: $azul;
		color: $blanco;
	}

	th {
		font-weight: $regular;
		padding: 1rem;
		line-height: 1.25em;
	}

	tbody{
		tr{
			&:nth-child(odd){	background-color: $gris-claro	}
			&:nth-child(even){	background-color: lighten( $gris-claro,2 )	}
		}
	}

	td.actions {
		background-color: $gris;

		.coupon .input-text{
			padding: 1rem;
			float: initial;
		}
	}

	[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], select, textarea{ background-color: $blanco }

	.product-price, .product-quantity, .product-subtotal{ text-align: right }

}

.woocommerce .cart_totals{

	h2{ 
		font-size: 1.25em;
		color: $negro;
		margin-bottom: 0.5em
	 }

	 tbody{

		 th{
			 background-color: $azul;
			 color: $blanco;
			 font-weight: $regular !important;
		 }

		 td{ text-align: right}

	 }

}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button{ display: inline-block }