/* Checkout */

.woocommerce .woocommerce-checkout{

	h3{
		margin-bottom: 1rem;
		color: $negro
	}

	margin-top: 3rem;

	.woocommerce-checkout-review-order-table{
		margin-bottom: 3rem;

		.product-total, tfoot{ text-align: right }

		.order-total{ background-color: $gris }
		
		
	}

}

.woocommerce-checkout{

	#payment{
		background: $gris-claro;

		div.payment_box{
			background-color: $gris-claro2;
			color: $negro;

			&::before{
				border-bottom-color: $gris-claro2
			}

		}

	}

}

.woocommerce-terms-and-conditions{
	background: $blanco
}

.woocommerce-order{

	.woocommerce-thankyou-order-received{
		background-color: $whatsapp-verde;
		padding: 1rem;
		color: $blanco;
		font-size: 1.5em;
		margin-bottom: 3rem;
		border-radius: $global-radius;
	}

}


.woocommerce .woocommerce-order-details{

	h2{	margin-bottom: 1rem	}

	.product-total,tfoot{ text-align: right }

}