/************** Widgets ***************/



.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a{
	font-weight: $regular;
	margin-bottom: 0.5em;
}

.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li {
	padding: 0;
}


/* Botón eliminar productos */


.woocommerce a.remove {
	font-size: 1.25em;
	height: 1em;
	width: 1em;
	line-height: 1;
	border-radius: 100%;
	color: $rojo!important;
}

.woocommerce a.remove:hover {
	color: #fff!important;
	background: $rojo;
}


/* Botones estándard */
.woocommerce .widget_shopping_cart .buttons a+a, .woocommerce.widget_shopping_cart .buttons a+a {
	margin-left: 0.5rem;
}




/* MINI CART ***************************/

.woocommerce .widget_shopping_cart .cart_list li, .woocommerce.widget_shopping_cart .cart_list li {
	padding: 0px;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce .widget_shopping_cart .cart_list li a.remove {
	position: absolute;
	top: 0;
	right: 0;
	left: inherit;
}

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
	float: left;
	margin: 0px 1rem 0px 0px;
	width: 90px;
	height: auto;
}

.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total {
	border-top: none;
	padding: 0;
	font-size: 1.25em;
}

.woocommerce .widget_shopping_cart .total strong, .woocommerce.widget_shopping_cart .total strong {
	font-weight: $regular;
}

.woocommerce .widget_shopping_cart .total .woocommerce-Price-amount {
	float: right;
}

.woocommerce .widget_shopping_cart .total .tax_label {
	font-size: 0.7em;
	color: $gris-medio
}

.widget_shopping_cart .button{
	@extend .boton-gris;
}

.woocommerce .widget_shopping_cart .quantity{
	margin-top: 1rem;
	display: block;
}

.woocommerce .widget_shopping_cart .buttons a, .woocommerce.widget_shopping_cart .buttons a {
	margin-right: 0px;
	margin-bottom: 0px;
}




.widget_product_tag_cloud{

	.tag-cloud-link{
		font-size: 0.7em!important;
		padding: 0.5em 1em;
		background: $gris-claro;
		margin-bottom: 0.5em;
		display: inline-block;
		text-transform: uppercase;
		font-weight: $bold;
	}

}

.widget_recently_viewed_products{

	.product_list_widget{
		list-style: none;
		margin: 0px;
		padding-inline-start: 0px;

		li{			
			display: block;
			overflow: hidden
		}

		li+li{ margin-top: 1em }

	}

	a{
		display: block;

		img{
			width: 6em;
			margin-right: 1em;
			float: left;
			height: auto;
		}

	}

}

.woocommerce .product-categories{
	list-style-type: disc;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 1rem;
	margin-inline-end: 0px;
	padding-inline-start: 0px;

	li+li{ margin-top: 0.5rem }
}


/**
 * WooCommerce Price Filter
 */
 .woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color: $rojo;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
	background-color: $azul-claro;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background-color: $azul-claro;
}

.woocommerce .widget_price_filter .button{
	@extend .boton-gris;
}