// Sección salud al día.

#testimonials{
	background: $rojo;

	p, cite{
		color: $gris-claro
	}

	h2{
		color: $blanco;
		text-align: center;
	}

	p{
		font-style: italic;
	}

	.wp-block-quote{
		border: none !important;
		background-image: url('../img/icono-cite.webp');
		background-repeat: no-repeat;
		background-position: top left;

		p{
			padding: 1rem 1rem 0px 1rem;
		}
	}

	.slick-dots li button:before{
		color: $gris-claro2;
		font-size: 40px;
	}

	.slick-dots li.slick-active button:before{
		color: $gris-claro;
		font-size: 40px;
	}

	/*
	 * Media Queries.
	 *
	 */

	@media only screen and (min-width:320px) {
		padding: 3rem 0px;
	}

	@media only screen and (min-width:480px) {

	}

	@media only screen and (min-width:768px) {


	}

	@media only screen and (min-width:1024px) {
		padding: 6rem 0px;
	}

	@media only screen and (min-width:1140px) {

	}

	@media only screen and (min-width:1280px) {

	}

	@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:144dpi) {

	}

}
